* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.bg-main {
  background-color: #60EDCC;
}
.text-primary {
  color: #ED8461 !important;
}
.header {
  font-family: 'Odile', sans-serif;
}

.active {
  background-color: white;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.x {
  transform: rotate(45deg);
  width: 1rem;
}
.x::after {
  transform: rotate(-45deg);
  content: "-";
}