* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.bg-main {
  background-color: #60EDCC;
}
.text-primary {
  color: #ED8461 !important;
}
.header {
  font-family: 'Odile', sans-serif;
}

@media screen and (min-width: 767px) {
  .active {
    background-color: white;
    border-radius: 10px 10px 0 0;
    height: 100%;
    padding-bottom: 1em !important;
  }
}

@media screen and (max-width: 767px) {
  .active {
    color: #ED8461;
    height: 100%;
    border-bottom: 1px solid #ED8461;
    max-width: 20em;
  }
}

.x {
  transform: rotate(45deg);
  width: 1rem;
}
.x::after {
  transform: rotate(-45deg);
  content: "-";
}